::-webkit-scrollbar { width: 6px; height: 8px;}
::-webkit-scrollbar-button {  background-color: $blue; }
::-webkit-scrollbar-track {  background-color: $black2;}
::-webkit-scrollbar-track-piece { background-color: $black2;}
::-webkit-scrollbar-thumb { height: 50px; background-color: $blue;}
::-webkit-scrollbar-corner { background-color: $blue;}
::-webkit-resizer { background-color: $black2;}

::selection {
    background: $blue;
    color: $white;
}

* {
    box-sizing: border-box;
}

*[contenteditable] {
    outline: none;
}

body {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background: $black2;
}

.board-bg {
    background: url('https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80') no-repeat center center / cover, #121212;
    background-attachment: fixed;
    background-blend-mode: overlay;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.flex.center {
    justify-content: center;
    align-items: center;
}

.wrap {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.big-wrap {
    min-width: 100%;
    padding: 0 32px;
    margin: 0 auto;
}

.btn {
    display: inline-flex;
    font-size: 12px;
    font-weight: 500;
    color: $white;
    border-radius: 4px;
    padding: 9px 24px 8px 24px;
}

.btn.green {
    background: $green;
}

.btn.blue {
    background: $blue;
}

.btn.red {
    background: $red;
}